// , enctype="multipart/form-data" 잠시 뺌
form#Post(action=(typeof post._id != 'undefined')?((typeof post.postId != 'undefined')? "/posts/"+post.postId+"?_method=put":"/posts/"+post._id+"?_method=put"):"/posts", method="post")
	h1(for="title")= (typeof post.title != 'undefined')?post.title : "New Post"
	div
		if (typeof post._id == 'undefined')
			label(for="title") Title
		input#title.form-control(class=(errors.title)?"is-invalid":"", type="text", name="title", value=(typeof post._id != 'undefined')?post.title:"", style=(typeof post._id != 'undefined')?"display: none":"")
		if (errors.title)
			span= errors.title.message
	div
		label(for="body") Body
		textarea#body(name="body", hidden)= (typeof post.body)?post.body:""
		.buttons
			input#undo(type="button", value="UNDO")
			input#redo(type="button", value="REDO")
			input#removeFormat(type="button", value="효과 지우기")
			select#heading
				option(selected) heading
				option(value="p") P
				option(value="h1") H1
				option(value="h2") H2
				option(value="h3") H3
				option(value="h4") H4
				option(value="h5") H5
				option(value="h6") H6
			button#bold(type="button")
				span.glyphicon.glyphicon-bold#bold
			button#italic(type="button")
				span.glyphicon.glyphicon-italic
			button#underline(type="button")
				span 밑줄
			input#strikeThrough(type="button", value="취소선")
			input#olist(type="button", value="글번호")
			input#ulist(type="button", value="글머리")
			button#justifyLeft(type="button")
				span.glyphicon.glyphicon-align-left
			button#justifyCenter(type="button")
				span.glyphicon.glyphicon-align-center
			button#justifyRight(type="button")
				span.glyphicon.glyphicon-align-right
			button#indent(type="button")
				span.glyphicon.glyphicon-indent-left
			button#outdent(type="button")
				span.glyphicon.glyphicon-indent-right
			input#horizon(type="button", value="가로줄")
			input#hyperlink(type="button", value="하이퍼링크")
			input#insertImage(type="file", name="파일", accept="image/*", multiple)
		div
			#editor.bg-primary(class=(errors.body)?"is-invalid":"", contenteditable="true")
		input#htmlView(type="checkbox", name="htmlView")
		label(for="htmlView")  HTML 보기
		if (errors.body)
			span= errors.body.message
	if errors.unhandled
		div= errors.unhandled
	if (typeof post._id != 'undefined')
		div
			label(for="editMsg") Edit message
			input#editMsg.form-control(class=(errors.title)?"is-invalid":"", type="text", name="editMsg")
	div
		a.btn.btn-primary(href="/posts") Back
		button.btn.btn-primary(type="submit") Submit