doctype html
html
	head
		include ../partials/head.pug
	body.bg-info
		div.container-fluid
			div.row
				include ../partials/nav.pug
			div.col-md-6.col-md-offset-3
				h2 최근 토론 내역
				table.table.table-hover(style="table-layout: fixed; word-break: break-all")
					theadt
						th.text-left.col-md-2 아이디
						th.col-md-8 토론 내용
						th 삭제
						th.text-right.col-md-2 날짜
					tbody
						if comments.length
							each comment in comments
								div(id=comment._id)
									tr
										if comment.author
											td #{comment.author.username}
										else
											td 삭제된 사용자입니다.
										td #{comment.text}
										td 
											form(action="/posts/"+comment._id+"/comment?_method=delete", method="post")
												button.btn.btn-danger(type="submit") Delete
										td.date
											span(data-date-time= comment.createdAt)
				div
					form(action="/posts/"+post._id+"/comment", method='post')
						fieldset("!isAuthenticated?'disabled':''")
							row
								div
									textarea.form-control(name='text' rows='2') #{commentForm.form.text}
								div.text-right
									a.btn.btn-primary.custom-btn-padding(href=`/posts/${post.id}`) Back
									button.btn.btn-success.custom-btn-padding(type='submit') Add Comment
				include ../partials/aside.pug
				include ../chat/chat.pug