doctype html
html
    head
        include ../partials/head.pug
    body
        include ../partials/nav.pug

        div
            nav
                ol
                    li
                        a(href="/") Home
                    li
                        a(href="/posts") Board
                    li= post.title

            div
                h5= post.title
                div
                    div
                        if post.attachment
                            div
                                small= "📁 Attachment: "+post.attachment.originalFileName+" ("+util.bytesToSize(post.attachment.size)+")"
                            div
                                img(src="../uploadedFiles/"+post.attachment.originalFileName)
                        div= post.body
                    div
                        div
                            div
                                span Author : 
                                = post.author ? post.author.username : ""
                            div
                                span Created : 
                                span(data-date-time=post.createdAt)
                            if post.updatedAt
                                div
                                    span Updated : 
                                    span(data-date-time=post.updatedAt)
            
            div
                a(href="/posts") Back
                if (isAuthenticated && post.author && currentUser.id == post.author.id)
                    a(href="/posts/"+post._id+"/edit") Edit
                    form(action="/posts/"+post._id+"?_method=delete", method="post")
                        button(type="submit") Delete